#haldi {
    background-image: url(../images/haldi_background.webp);
    background-size: cover;
}

#haldi h1,
#haldi h2 {
    color: #ffbd08;
}

#haldi .couple {
    text-align: center;
    width: auto;
    align-items: right;
}

.haldi text {
    position: absolute;
    top: 8px;
    left: 50%;
    translate: transformX(-50%);
}

.button-haladi {
    background-color: #ffeea1;
    border: solid 1px #f7a62f;
    border-radius: 15px;
    /* border: #ffb30c; */
    color: #1a130e;
}

.button-haladi-container {
    transform: scale(1.5, 1);
    padding-top: 2vh;
}

.pettal img {
    width: 10px;
    animation: pettal 5s linear infinite;
}

.pettal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
}

@keyframes pettal {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(90vh);
        opacity: 0;
    }
}

.pettal img:nth-child(1) {
    animation-delay: 1s;
}

.pettal img:nth-child(2) {
    animation-delay: 5s;
}

.pettal img:nth-child(3) {
    animation-delay: 3.5s;
}

.pettal img:nth-child(4) {
    animation-delay: 6s;
}

.pettal img:nth-child(5) {
    animation-delay: 2s;
}

.pettal img:nth-child(6) {
    animation-delay: 8s;
}

.pettal img:nth-child(7) {
    animation-delay: 3s;
}

.pettal img:nth-child(8) {
    animation-delay: 4.s;
}

.pettal img:nth-child(9) {
    animation-delay: 2.7s;
}

.pettal img:nth-child(10) {
    animation-delay: 1s;
}

.pettal img:nth-child(11) {
    animation-delay: 2s;
}

.pettal img:nth-child(12) {
    animation-delay: 7s;
}

.pettal img:nth-child(13) {
    animation-delay: 3s;
}

.pettal img:nth-child(14) {
    animation-delay: 7.5s;
}

.pettal img:nth-child(15) {
    animation-delay: 2.7s;
}

.pettal img:nth-child(16) {
    animation-delay: 1.5s;
}

.pettal img:nth-child(17) {
    animation-delay: 4s;
}

.pettal img:nth-child(18) {
    animation-delay: 3s;
}

.pettal img:nth-child(19) {
    animation-delay: 8s;
}

.pettal img:nth-child(20) {
    animation-delay: 1s;
}