#wedding {
  background-image: url(../images/wedding_background1.webp);
  background-size: cover;
}

#wedding h1, #wedding h2 {
  color: #ff0a68;
}

#wedding .couple {
  text-align: center;
  width: auto;
  align-items: right;
}

.wedding text {
  position: absolute;
  top: 8px;
  left: 50%;
  translate: transformX(-50%);
}
