#wedding {
    background-image: url(../images/wedding_background1.webp);
    background-size: cover;
}

#wedding h1,
#wedding h2 {
    color: #ff0a68;
}

#wedding .couple {
    text-align: center;
    width: auto;
    align-items: right;
}

.wedding text {
    position: absolute;
    top: 8px;
    left: 50%;
    translate: transformX(-50%);
}

.button-wedding {
    background-color: #f3827d;
    border: solid 1px #8a2620;
    border-radius: 15px;
    /* border: #ffb30c; */
    color: #1a130e;
}

.button-wedding-container {
    transform: scale(1.5, 1);
    padding-top: 2vh;
}